-- Create tables for product performance tracking

-- Product Performance Metrics table
CREATE TABLE IF NOT EXISTS public.product_performance_metrics (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  product_name TEXT,
  sku TEXT,
  views_count INTEGER DEFAULT 0,
  purchases_count INTEGER DEFAULT 0,
  view_to_purchase_ratio DECIMAL(10, 2) DEFAULT 0,
  return_rate DECIMAL(10, 2) DEFAULT 0,
  average_rating DECIMAL(3, 2) DEFAULT 0,
  review_count INTEGER DEFAULT 0,
  inventory_turnover_rate DECIMAL(10, 2) DEFAULT 0,
  revenue_generated DECIMAL(14, 2) DEFAULT 0,
  profit_margin DECIMAL(10, 2) DEFAULT 0,
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Product Relationships table (for frequently bought together, cross-sells, etc.)
CREATE TABLE IF NOT EXISTS public.product_relationships (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  related_product_id TEXT NOT NULL,
  relationship_type TEXT NOT NULL, -- 'frequently_bought_together', 'cross-sell', 'upsell', etc.
  strength DECIMAL(5, 2) DEFAULT 0, -- 0-100 scale indicating relationship strength
  conversion_rate DECIMAL(10, 2) DEFAULT 0,
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Product Reviews table
CREATE TABLE IF NOT EXISTS public.product_reviews (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  rating INTEGER NOT NULL, -- 1-5 stars
  review_title TEXT,
  review_text TEXT,
  customer_name TEXT,
  verified_purchase BOOLEAN DEFAULT FALSE,
  helpful_votes INTEGER DEFAULT 0,
  reviewed_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Product Views table (for tracking view data over time)
CREATE TABLE IF NOT EXISTS public.product_views (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  view_count INTEGER DEFAULT 0,
  view_date DATE NOT NULL,
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Product Returns table (for tracking returns over time)
CREATE TABLE IF NOT EXISTS public.product_returns (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  return_count INTEGER DEFAULT 0,
  return_date DATE NOT NULL,
  return_reason TEXT,
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Inventory Turnover table (for tracking inventory turnover over time)
CREATE TABLE IF NOT EXISTS public.inventory_turnover (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id TEXT NOT NULL,
  beginning_inventory INTEGER DEFAULT 0,
  ending_inventory INTEGER DEFAULT 0,
  cost_of_goods_sold DECIMAL(14, 2) DEFAULT 0,
  turnover_rate DECIMAL(10, 2) DEFAULT 0,
  period_start DATE NOT NULL,
  period_end DATE NOT NULL,
  connection_id TEXT NOT NULL,
  brand_id UUID,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_product_performance_metrics_product_id ON public.product_performance_metrics(product_id);
CREATE INDEX IF NOT EXISTS idx_product_performance_metrics_connection_id ON public.product_performance_metrics(connection_id);
CREATE INDEX IF NOT EXISTS idx_product_relationships_product_id ON public.product_relationships(product_id);
CREATE INDEX IF NOT EXISTS idx_product_relationships_related_product_id ON public.product_relationships(related_product_id);
CREATE INDEX IF NOT EXISTS idx_product_relationships_connection_id ON public.product_relationships(connection_id);
CREATE INDEX IF NOT EXISTS idx_product_reviews_product_id ON public.product_reviews(product_id);
CREATE INDEX IF NOT EXISTS idx_product_reviews_connection_id ON public.product_reviews(connection_id);
CREATE INDEX IF NOT EXISTS idx_product_views_product_id ON public.product_views(product_id);
CREATE INDEX IF NOT EXISTS idx_product_views_connection_id ON public.product_views(connection_id);
CREATE INDEX IF NOT EXISTS idx_product_returns_product_id ON public.product_returns(product_id);
CREATE INDEX IF NOT EXISTS idx_product_returns_connection_id ON public.product_returns(connection_id);
CREATE INDEX IF NOT EXISTS idx_inventory_turnover_product_id ON public.inventory_turnover(product_id);
CREATE INDEX IF NOT EXISTS idx_inventory_turnover_connection_id ON public.inventory_turnover(connection_id);

-- Enable Row Level Security
ALTER TABLE public.product_performance_metrics ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_relationships ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_reviews ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_views ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_returns ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.inventory_turnover ENABLE ROW LEVEL SECURITY;

-- Create policies for all tables
CREATE POLICY "Allow all operations for authenticated users on product_performance_metrics"
  ON public.product_performance_metrics
  FOR ALL
  TO authenticated
  USING (true);

CREATE POLICY "Allow all operations for authenticated users on product_relationships"
  ON public.product_relationships
  FOR ALL
  TO authenticated
  USING (true);

CREATE POLICY "Allow all operations for authenticated users on product_reviews"
  ON public.product_reviews
  FOR ALL
  TO authenticated
  USING (true);

CREATE POLICY "Allow all operations for authenticated users on product_views"
  ON public.product_views
  FOR ALL
  TO authenticated
  USING (true);

CREATE POLICY "Allow all operations for authenticated users on product_returns"
  ON public.product_returns
  FOR ALL
  TO authenticated
  USING (true);

CREATE POLICY "Allow all operations for authenticated users on inventory_turnover"
  ON public.inventory_turnover
  FOR ALL
  TO authenticated
  USING (true);

-- Verify tables were created
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public' 
AND table_name IN (
  'product_performance_metrics',
  'product_relationships',
  'product_reviews',
  'product_views',
  'product_returns',
  'inventory_turnover'
);
